.sidebar {
  width: 140px;
  transition: width .4s ease;
  background-color: #152259;
  color: white;
}

.sidebar.expanded {
  width: 255px;
}

.sidebar-logo img {
  max-height: 100px;
}

.sidebar-divider {
  border: 1px solid white;
  width: 100%;
}

.navbar-scroll {
  overflow-y: auto;
}

.navbar-scroll::-webkit-scrollbar {
  display: none;
}

.link-content {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.link-content:hover {
  background-color: rgba(173, 216, 230, 0.7);
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
}
