/* Estilo para a linha que abre o formulário */
.card-header {
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.card-header:hover {
    transform: scale(1.01); /* Aumenta levemente o tamanho */
    background-color: #007bff; /* Define a cor azul */
    color: white; /* Ajusta a cor do texto para branco */
}

.card-header h3 {
    margin: 0;
}

.card-header:hover h3 {
    color: white; /* Garante que o título também fique branco */
}
